<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content here -->
</head>
<body>
<h1>Map Page</h1>
<div id="map" style="height: 400px;"></div>
<form id="addAreaForm" action="/map/areas" method="POST">
    <input type="hidden" id="coordinates" name="coordinates">
    <input type="hidden" id="imageUrl" name="imageUrl">
    <button type="submit">Add Area</button>
</form>
<script src="/js/map.js"></script>
</body>
</html>
